<div class="links-elsewhere">
    <ul class="link-list">
        <h3>Live Mas Adoptions © 2022</h3>
        <h4>Want to Learn more?</h4>
        <li><a href="/about">About Us</a></li>
        <li><a href="/volunteers">Volunteering Opportunities</a></li>
        <li><a href="/pets">See the Pets</a></li>
    </ul>
</div>