<header>
    <h1>Live Mas Adoptions</h1>
    <nav>
        <div>
            <a href="/">Home </a>
            <a href="/pets">Fuzzy Guests </a>
            <a href="/volunteers">Volunteer</a>
        </div>
    </nav>
</header>
