<header>
    <h1>Live Mas Adoptions</h1>
    <nav>
        <ul>
            <li><a href="/">Home </a></li>
            <li><a href="/pets">Fuzzy Guests </a></li>
            <li><a href="/volunteers">Volunteer</a></li>
        </ul>
    </nav>
</header>