<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${volunteer.name} | Live Mas Adoptions`}) %>
    <link rel="stylesheet" href="/styles/volunteer-index">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
</body>
</html>