<!DOCTYPE html>
<html lang="en">

    
<head>
    <%- include('./partials/head.ejs', {title: 'Live Mas Adoptions' }) %>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <h1>This is the homepage for Live Mas Adoptions</h1>
    <h3>More coming soon!</h3>



</body>
</html>