<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Live Mas Adoptions | Pet Details'}) %>
    <link rel="stylesheet" href="/styles/pet-details.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <h1>Pet Details here</h1>
</body>