<!DOCTYPE html>
<html lang="en">


<head>
    <%- include('./partials/head.ejs', {title: 'Live Mas Adoptions | The Animals' }) %>
    <link rel="stylesheet" href="/styles/pet-index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

<h1>Dog and Cats and stuff</h1>




</body>


</html>