@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');


/* nav bar styling */
header {
    align-items: center;
    background-color: maroon;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    display: flex;
    /* font-family: url('/public/assets/taco_bell_bold_by_629lyric-d8wmur8.ttf'); */
    font-family: 'Climate Crisis', cursive;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
}

h1 {
    font-size: 2.5rem;
}

h1 a:hover {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li:not(:last-child) {
    margin-right: 1rem;
}

nav a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

nav a:hover {
    color: lightgray;
    text-decoration: underline;
}

/* Style the button that triggers the dropdown menu */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  